@tailwind base;
@tailwind components;
@tailwind utilities;

.custom{
    height: 40px;
    width: 44px;
}
:root {
    --background-dark: #121212;
    --text-light: #f5f5f5;
    --primary-color: #00c6ff;
}
  
body {
    background-color: var(--background-dark);
    color: var(--text-light);
    font-family: 'Poppins', sans-serif;
}
  
button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
button:hover {
    opacity: 0.8;
}
  
.custom2{
    height: 750px;
    width: 700px;
}
@media print {
    button {
        display: none;
    }
}
